/* 
    Created on : 09-Dec-2016, 23:37:53
    Author     : Conno
*/

main {
    width: 40%;
    margin: 2.5% auto;
    background-color: #1a1a1a;
    box-shadow: 1px 1px 5px rgba(0,0,0,0.7);
}

form {
    width: 85%;
    margin: 0% 7.5% 0% 7.5%;
}

label {
    font-family: bigNoodleSlanted;
    font-size: 1.1em;
    letter-spacing: 5px;
    color: #E5DA2A;
}

input {
    width: 98%;
    font-size: 1.2em;
    padding: 1%;
    outline: none;
    border: 1px solid #E5DA2A;
    border-radius: 4px;
    background: rgba(0,0,0,0);
    margin: 1% 0% 1% 0%;
    color: #E5DA2A;
}

.name_input {
    width: 47.25%;
}

.button {
    width: 45%;
    margin: 0% 2.25% 0% 2.25%;
}

.button:hover {
    background-color: #E5DA2A;
    color: #1a1a1a;
    cursor: pointer;
}
