/* 
    Created on : 30-Nov-2016, 20:25:04
    Author     : Conno
*/

/* nav.css */

.bar {
    background-color: #1a1a1a;
    height: 64px;
    box-shadow: 1px 1px 5px rgba(0,0,0,0.7);
    background: repeating-linear-gradient(
        -55deg,
        #202020,
        #202020 10px,
        #1a1a1a 10px,
        #1a1a1a 20px
    );
}

nav {
    margin: 0% 12.5% 0% 12.5%;
    display: inline-block;
    font-family: bigNoodle;
}

nav ul {
    width: 75%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #1a1a1a;
    position: absolute;
    top: 0;
    background: rgba(0,0,0,0);
}

li {
    float: left;
}

nav a li  {
    display: block;
    color: #E5DA2A;
    text-align: center;
    padding: 23px 25px;
    text-decoration: none;
    letter-spacing: 5px;
}

nav a li:hover {
    background-color: #E5DA2A;
    color: #0d0d0d;
    font-family: bigNoodleSlanted;
}

.active {
    background-color: #E5DA2A;
    color: #0d0d0d;
}

.right {
    float: right;
}

.left {
    float: left;
}

.logo {
    float: left;
    min-width: 65px;
    width: 4.5%;
    padding: 0 1% 0 1%;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background: repeating-linear-gradient(
        -55deg,
        #202020,
        #202020 10px,
        #1a1a1a 10px,
        #1a1a1a 20px
    );
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    top: 60px;
    z-index: 2;
}

.dropdown-content a {
    padding: 23px 25px;
    text-decoration: none;
    color: #E5DA2A;
    display: block;
}

.dropdown-content a:hover {
    background-color: #E5DA2A;
    color: #0d0d0d;
}

.dropdown-content:hover .dropdown-trigger{
    background-color: #E5DA2A;
    color: #0d0d0d;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}

.search_container {
   min-width: 50%;
}

.search_bar {
    display: block;
    width: 80%;
    margin-top: 1.4%;
    margin-left: 1%;
    box-sizing: border-box;
    border: 2px solid #E5DA2A;
    border-radius: 4px 4px 4px 4px;
    font-size: 16px;
    color: #E5DA2A;
    background-color: #1a1a1a;
    background-image: url('../image/icon/searchicon.png');
    background-size: 20px;
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
}

.search_bar:focus {
    outline: none;
}

.cart_container {
    display: inline-block;
    width: 10%;
    text-align: center;
    background-color: #E5DA2A;
    padding: 1px 4px 1px 5px;
    border-radius: 4px;
}

.cart_counter {
    color: #1a1a1a;
}

.hover {
    background-color: red;
}